.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;}
.hero div{
    margin:10px;
    padding:20px;}
.hero h1{
    position:absolute;
    text-align: center;
    display:block;
    top:170px;
    left: 40%;
    color:#91aec1;}
.hero article{
    position:absolute;
    background-color: aliceblue;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    border: 15px;
    top:300px;}
h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
    color: #bfd7ea;
    background-color:#0a8754;
    padding: 10px;
    margin:10px;}
body{
    font-family: sans-serif;}
img{
    display:block;
}
footer{
    display:flex;
    justify-content: flex-end;}
footer p{
    display: flex;
    justify-content: center;
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#91aec1;
}
.logo{
    grid-column:2/3;
}

nav{
    font-size: 1.2rem;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
    grid-column:3/6 ;
}
nav a{
    display:flex;
    color: blue;
    text-decoration: none;
    padding: 1rem;
    background-color:#bfd7ea;
}
a{
    display:flex;
    justify-content:space-around;
    align-items: center;}
nav a:link{
    color:blue;}
nav a:visited{
    color:purple;}
nav a:hover{
    color:purple;
    background-color: aqua;  
}
.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.adventure img{
    width: 200px;
    height: auto;
    grid-row:2/3;}
.adventure h2{
    display:flex;
    align-content:center;
    align-items: center;
    text-align: center;
    grid-column:1/6;}
h2{
    justify-content:center;
    text-align: center;
}
form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
fieldset{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
    padding:10px;
    background-color:lightgray;
    max-width:80%;
}
.radio{
    display:grid;
    grid-template-columns:30px 1fr;
}
.subscribe{
    display:flex;
    flex-direction:row;
}
label{
    margin:5px;
}
button{
    color:white;
    background-color:blue;
}
.contact{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.info{
    grid-column:1/3;
}
table{
    border:solid;
}
td{
    border:solid;
}
